@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen and (max-width: 600px) {
  #nav-links {
    display: none;
  }
  #home-content {
    padding: 0%;
    flex-wrap: wrap;
  }
  .table-data {
    display: none;
  }
} */
